<html>
<head>
    <title>Clients</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Welcome</h1>

        <p>Add a new Stylist:</p>

        <form action="/stylists" method="post">
          <label for="name">Stylist's name:</label>
          <input id="name" name="name" type="text">

          <button type="submit">Add Stylist</button>
        </form>

        {% if stylists is not empty %}
            <p>Here are all your current stylists:</p>
            <ul>
                {% for stylist in stylists %}
                    <li>
                        <a href="/stylists/{{ stylist.getId }}">{{ stylist.getName }}</a>
                        <a href="/stylists/{{ stylist.getId }}/edit">Edit</a>
                        <form action="/stylists/{{ stylist.getId }}" method="post">
                          <input name="_method" type="hidden" value="delete">
                          <button type="submit">Delete</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
          <p>There's no one available yet!</p>
        {% endif %}

        <form action="/delete_stylists" method="post">
            <button type="submit">Delete All</button>
        </form>
    </div>
</body>
</html>
